* {
  box-sizing: border-box;
  font-family: 'Harry Potter';
}

@import url(//db.onlinewebfonts.com/c/0421d4186d6efbfc5331fe180895e780?family=Harry+Potter);

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}