nav {
  width: 100%;
  color: #fff;
  margin-bottom: 40px;
  background-color: #333333;
  height: auto;
  font-family: 'Harry Potter', 
}

a {
  color: #ffffff;
  font-size: 32px;
  
}

a:hover {
  color: #ffc220;
  text-decoration: none;
}

nav li {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  margin-left: 150px;
  font-size: 28px;
}

ul {
  padding-left: 0px;
}